@{
    Page.Title = "AgendaSmart - Dashboard";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bem-vindo ao Painel de Serviços AgendaSmart</h1>
    </div>
    <!-- /.col-lg-12 -->
    <div class="row"><div class="col-lg-12">
    <div class="well well-sm" style="background-color:white">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="">Odontologistas</h2>
            </div>
        </div>
        <hr />
        <div class="row" style="margin: 30px;">
            <div class="col-lg-2 text-center">
                <i class="fa fa-id-card-o fa-5x"></i>
            </div>
            <div class="col-lg-10">
                <p> Cadastre e edite os odontologistas.</p>
                <p> Visualize todos os odontologistas da sua clínica.</p>
                <a href="@Url.Action("Index","Odontologista")">
                    <p>
                        Ir agora
                        <span type="button" class="btn btn-primary btn-circle">
                            <i class="fa fa-chevron-right"></i>
                        </span>
                    </p>
                </a>
            </div>
        </div>
    </div>

</div>
        <div class="col-lg-12">
            <div class="well well-sm" style="background-color:white">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="">Agendamentos</h2>
                    </div>
                </div>
                <hr />
                <div class="row" style="margin: 30px;">
                    <div class="col-lg-2 text-center">
                        <i class="fa fa-calendar-check-o fa-5x"></i>
                    </div>
                    <div class="col-lg-10">
                        <p> Realize novos agendamentos.</p>
                        <p> Visualize os agendamentos da sua clínica.</p>
                        <a href="@Url.Action("Index","Agendamentos")">
                            <p>
                                Agende agora
                                <span type="button" class="btn btn-primary btn-circle">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-12">
            <div class="well well-sm" style="background-color:white">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="">Relatórios</h2>
                    </div>
                </div>
                <hr />
                <div class="row" style="margin: 30px;">
                    <div class="col-lg-2 text-center">
                        <i class="fa fa-table fa-5x"></i>
                    </div>
                    <div class="col-lg-10">
                        <p> Visualize todos os relatórios personalizados para você.</p>
                        <p> Obtenha todos as informações que você precisa em poucos segundos.</p>
                        <a href="@Url.Action("Index","Relatorios")">
                            <p>
                                Visualize agora
                                <span type="button" class="btn btn-primary btn-circle">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                            </p>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>