@{
    Page.Title = "AgendaSmart - Relatórios";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Relatórios</h1>
    </div>
    <!-- /.col-lg-12 -->

    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">Colaboradores</div>
                            <div>Relatório com as informações dos colaboradores.</div>
                        </div>
                    </div>
                </div>
                <a href="@Url.Action("RelColaboradores")">
                    <div class="panel-footer">
                        <span class="pull-left">Visualizar</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">Vendas</div>
                            <div>Relatório com as informações de Vendas.</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Visualizar</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-10 text-right">
                            <div class="huge">Ligações</div>
                            <div>Relatório com as informações das ligações.</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Visualizar</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>